In [8]:
import pandas as pd
import re

In [9]:
df = pd.read_csv('/Users/ayush.LAPTOP-A9620OED/Downloads/mountains_image.csv')

In [33]:
df.head(20)

,mountains,picture,coordinate,lat,lon
0,Mount Everest,https://upload.wikimedia.org/wikipedia/commons...,27°59′17″N 86°55′31″E,27.988056,86.925278
1,Kanchenjunga,https://upload.wikimedia.org/wikipedia/commons...,27°42′09″N 88°08′48″E,27.702500,88.146667
2,Lhotse,https://upload.wikimedia.org/wikipedia/commons...,27°57′42″N 86°56′00″E,27.961667,86.933333
3,Makalu,https://upload.wikimedia.org/wikipedia/commons...,27°53′21″N 87°05′19″E,27.889167,87.088611
4,Cho Oyu,https://upload.wikimedia.org/wikipedia/commons...,28°05′39″N 86°39′39″E,28.094167,86.660833
5,Dhaulagiri I,https://upload.wikimedia.org/wikipedia/commons...,28°41′54″N 83°29′15″E,28.698333,83.487500
6,Manaslu,https://upload.wikimedia.org/wikipedia/commons...,28°32′58″N 84°33′43″E,28.549444,84.561944
7,Annapurna I,https://upload.wikimedia.org/wikipedia/commons...,28°35′46″N 83°49′13″E,28.596111,83.820278
8,Gyachung Kang,https://upload.wikimedia.org/wikipedia/commons...,28°05′53″N 86°44′32″E,28.098056,86.742222
9,Annapurna II,https://upload.wikimedia.org/wikipedia/commons...,28°32′9″N 84°7′17″E,28.535833,84.121389
10,Himalchuli,https://upload.wikimedia.org/wikipedia/commons...,28°26′03″N 84°38′15″E,28.434167,84.637500
11,Ngadi Chuli,https://upload.wikimedia.org/wikipedia/commons...,28°30′12″N 84°34′03″E,28.503333,84.567500
12,Nuptse,https://upload.wikimedia.org/wikipedia/commons...,27°57′59″N 86°53′24″E,27.966389,86.890000
13,Dhaulagiri II,https://upload.wikimedia.org/wikipedia/commons...,28°41′54″N 83°29′15″E,28.698333,83.487500
14,Jannu,https://upload.wikimedia.org/wikipedia/commons...,27°40′58″N 88°02′45″E,27.682778,88.045833
15,Dhaulagiri IV,https://upload.wikimedia.org/wikipedia/commons...,28°41′54″N 83°29′15″E,28.698333,83.487500
16,Dhaulagiri V,https://upload.wikimedia.org/wikipedia/commons...,28°41′54″N 83°29′15″E,28.698333,83.487500
17,Annapurna III,https://upload.wikimedia.org/wikipedia/commons...,28°35′8″N 83°59′22″E,28.585556,83.989444
18,Jongsong Peak,https://upload.wikimedia.org/wikipedia/commons...,27°53′N 88°08′E,27.883333,88.133333
19,Gangapurna,https://upload.wikimedia.org/wikipedia/commons...,28°35′46″N 83°49′13″E,28.596111,83.820278

In [11]:
"27°59′17″N 86°55′31″E".split()[0]

'27°59′17″N'

In [17]:
def dms2dec(dms_str, list_index=0):
    dms_str = dms_str.split()[list_index]
    """Return decimal representation of DMS
    
    >>> dms2dec(utf8(48°53'10.18"N))
    48.8866111111F
    
    >>> dms2dec(utf8(2°20'35.09"E))
    2.34330555556F
    
    >>> dms2dec(utf8(48°53'10.18"S))
    -48.8866111111F
    
    >>> dms2dec(utf8(2°20'35.09"W))
    -2.34330555556F
    
    """
    
    dms_str = re.sub(r'\s', '', dms_str)
    
    sign = -1 if re.search('[swSW]', dms_str) else 1
    
    numbers = [*filter(len, re.split('\D+', dms_str, maxsplit=4))]

    degree = numbers[0]
    minute = numbers[1] if len(numbers) >= 2 else '0'
    second = numbers[2] if len(numbers) >= 3 else '0'
    frac_seconds = numbers[3] if len(numbers) >= 4 else '0'
    
    second += "." + frac_seconds
    return sign * (int(degree) + float(minute) / 60 + float(second) / 3600)

In [18]:
df.head()

,mountains,picture,coordinate
0,Mount Everest,https://upload.wikimedia.org/wikipedia/commons...,27°59′17″N 86°55′31″E
1,Kanchenjunga,https://upload.wikimedia.org/wikipedia/commons...,27°42′09″N 88°08′48″E
2,Lhotse,https://upload.wikimedia.org/wikipedia/commons...,27°57′42″N 86°56′00″E
3,Makalu,https://upload.wikimedia.org/wikipedia/commons...,27°53′21″N 87°05′19″E
4,Cho Oyu,https://upload.wikimedia.org/wikipedia/commons...,28°05′39″N 86°39′39″E

In [19]:
df['lat'] = df.coordinate.apply(dms2dec, list_index=0)
df['lon'] = df.coordinate.apply(dms2dec, list_index=1)

In [35]:
df.head(20).to_csv('mountains_image.csv')

In [21]:
df[df.mountains=='Kala Patthar']

,mountains,picture,coordinate,lat,lon
73,Kala Patthar,https://upload.wikimedia.org/wikipedia/commons...,27°59.750′N 86°49.705′E,28.191667,87.0125

In [23]:
dms2dec('27°59.750′N 86°49.705′E', 1)

87.0125

In [24]:
# 27.995833, 86.828417

In [31]:

#!/env/python
# coding=utf8

"""
Converting Degrees, Minutes, Seconds formatted coordinate strings to decimal. 
Formula:
DEC = (DEG + (MIN * 1/60) + (SEC * 1/60 * 1/60))
Assumes S/W are negative. 
"""

import re

def dms2dec(dms_str):
    """Return decimal representation of DMS
    
    >>> dms2dec(utf8(48°53'10.18"N))
    48.8866111111F
    
    >>> dms2dec(utf8(2°20'35.09"E))
    2.34330555556F
    
    >>> dms2dec(utf8(48°53'10.18"S))
    -48.8866111111F
    
    >>> dms2dec(utf8(2°20'35.09"W))
    -2.34330555556F
    
    """
    
    dms_str = re.sub(r'\s', '', dms_str)
    
    sign = -1 if re.search('[swSW]', dms_str) else 1
    
    numbers = [*filter(len, re.split('\D+', dms_str, maxsplit=4))]

    degree = numbers[0]
    minute = numbers[1] if len(numbers) >= 2 else '0'
    second = numbers[2] if len(numbers) >= 3 else '0'
    frac_seconds = numbers[3] if len(numbers) >= 4 else '0'
    
    second += "." + frac_seconds
    return sign * (int(degree) + float(minute) / 60 + float(second) / 3600)

In [32]:
dms2dec('27°59′750′′N')

28.191666666666666

In [27]:
df[df.mountains=='Mount Everest']

,mountains,picture,coordinate,lat,lon
0,Mount Everest,https://upload.wikimedia.org/wikipedia/commons...,27°59′17″N 86°55′31″E,27.988056,86.925278

In [28]:
dms2dec('27°59′17″N')

27.988055555555558